<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="navbar">
    <div class="container flex">
        <h1 class="logo">Bakery</h1>
        <nav>
            <ul>
                <li><a href="home">home</a></li>
                <li><a href="home">features</a></li>
                <li><a href="home">docs</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- head -->
<section class="features-head bg-primary py-3">
    <div class="container grid">
        <div>
            <h1 class="xl">
                features
            </h1>
            <p class="lead">
                uild at: 2021-06-05T10:03:12.313Z - Hash: 1945cc27d4b32a1e2cb2 - Time: 226ms Compiled successfully.
            </p>
        </div>
        <img src="../../assets/coding.png" alt="">
    </div>
</section>
<!-- subhead -->
<section class="features-sub-head bg-light py-3">
<div class="container grid">
    <div>
        <h1 class="md">the loruki platform</h1>
        <p >
            check out the features of loruki that seperate us from the competition
        </p>
    </div>
    <img src="../../assets/coding.png" >
</div>
</section>

<section class="features-main my-2">
    <div class="container grid grid-3">
        <div class="card">
        <div class=" flex">
            <i class="fas fa-server fa-3x"> </i>
            <p> check out the features of loruki that seperate us from the competition
                check out the features of loruki that seperate us from the competition
            </p> 
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <i class="fas fa-server fa-3x"> </i>
            <p> check out the features of loruki that seperate us from the competition
                check out the features of loruki that seperate us from the competition
            </p>
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <i class="fas fa-server fa-3x"> </i>
            <p> check out the features of loruki that seperate us from the competition
                check out the features of loruki that seperate us from the competition
            </p>
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <i class="fas fa-server fa-3x"></i>
            <p> check out the features of loruki that seperate us from the competition
                check out the features of loruki that seperate us from the competition  
            </p>
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <i class="fas fa-server fa-3x"> </i>
            <p> check out the features of loruki that seperate us from the competition
                check out the features of loruki that seperate us from the competition
                
            </p>
           
        </div>
    </div>
    <div class="card">
        <div class=" flex">
            <i class="fas fa-server fa-3x"> </i>
            <p> check out the features of loruki that seperate us from the competition
                check out the features of loruki that seperate us from the competition
            </p>
           
        </div>
    </div>
</div>
</section>
<!-- footer -->
<footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
        <div>
            <h1>Loruki</h1>
            <p>Copyrights &copy; 2020</p>
        </div>
        <nav>
            <ul>
                <li><a style="color:#fff" href="index.html">home</a></li>
                <li><a style="color:#fff" href="index.html">features</a></li>
                <li><a style="color:#fff" href="index.html">docs</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="#" style="color:#fff"><i class="fab fa-github fa-2x"></i></a>
            <a href="#" style="color:#fff"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#" style="color:#fff"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#" style="color:#fff"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
</footer>
